#!/bin/bash

{% if ec2_tag_classifier == 'spoke' %}
[ -z  "${NODE##*hub*}" ] && exit 0
{% endif %}


{% if ec2_tag_classifier == 'hub' %}
[ -z  "${NODE##*spoke*}" ] && exit 0
{% endif %

route add -net ${SUBNET} dev tun0